body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    font-size: 13px;
    margin-top: 20px;
}

header #topLeft a {
    float: left;
    padding-left: 25px;
}

header #topRight {
    float: right;
    padding: 0 30px;
}

header #topRight a {
    padding-left: 15px;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.87);
}
a:hover{
    text-decoration: underline;
}

#signin {
    text-decoration: none;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-color: #4683ea;
    color: #fff;
    display: inline-block;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 2px;
    margin-left: 12px;
}

#main {
    clear:both;
    text-align: center;
}

#main img {
    margin-top: 40px;
}

form {
    margin-top: 20px;
}
input[type=input] {
    width: 580px;
    padding: 12px;
    border: 1px solid #dfe1e5;
    border-radius: 50px;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
}

input[type="submit"]:hover {
    border: 1px solid #ddd;
    box-shadow: 0 1px #ddd;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 27px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #dadce0;
}

footer, footer a {
    color: rgba(0,0,0,.54);
    font-size: 15px;
}

#fd {
    float: left;
}
#fd a {
    margin-right: 20px;
}
#sd {
    float: right;
    padding-right: 27px;
}

#sd a {
    margin-left: 20px;
}